.posts-main {
    border-collapse: collapse;
}

.post-main {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 0.5rem;;
}

/*New font:*/
body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}


/*navbar css:*/

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.navbarlogo {
    margin-right: auto;
    font-family: "Major Mono Display", monospace;
}
.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #111111;
}

/*navbar css end*/