/* Profile Picture Styling */


@media (max-width: 600px) {
    /* Profile Picture Styling */
    .profile-picture {
        width: 75px;
        height: 75px;
    }

    main > .posts > .post {
        flex-direction: column; /* Stack left/right columns vertically on mobile */
    }

    main > .posts > .post > .post-left {
        margin-bottom: 0.75rem;
    }
}